<p>
    <strong>Name:</strong>
    <%= @team.name %>
</p>

<p>
    <strong>Text:</strong>
    <%= @team.players %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', league_path(@team.league) %>
