<%= stylesheet_link_tag params[:controller] %>

<div id="teams" style="margin:0; width:100%;">
  <div id="myTeam" style="float:left; margin:20px; width:45%; height:500px; text-align:center;">
    <h2>My Team</h2>
    <table style="margin:auto;" >
      <thead>
        <tr>
          <th>Player</th>
          <th>StatA</th>
          <th>StatB</th>
          <th>StatC</th>
          <th>StatD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>NAME</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>

        <tr>
          <td>NAME</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="otherTeam" style="float:left; margin:20px; width:45%; height:500px; text-align:center;">
    <h2>Other team</h2>
    <table style="margin:auto;" >
      <thead>
        <tr>
          <th>Player</th>
          <th>StatA</th>
          <th>StatB</th>
          <th>StatC</th>
          <th>StatD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>NAME</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>

        <tr>
          <td>NAME</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="availablePlayers" style="float:left; margin:0; width:100%;">
  <div style="text-align: center;">
    <h2>Available Players</h2>
  </div>

  <div id="availablePlayersControls" style="float:left; margin:20px; width:90%">
  </div>
  <div id="availablePlayersTable" style="float:left; margin:20px; width:90%;">
    <table style="margin:auto;" >
      <thead>
        <tr>
          <th>Player</th>
          <th>StatA</th>
          <th>StatB</th>
          <th>StatC</th>
          <th>StatD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>NAME</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>

        <tr>
          <td>NAME</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
