/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery.contextMenu
 *= require jquery-ui/resizable
 *= require font-awesome
 */
@font-face {
    font-family: 'context-menu-icons';
    src:url('context-menu-icons.eot');
    src:url('context-menu-icons.eot?#iefix') format('embedded-opentype'),
        url('context-menu-icons.woff2') format('woff2'),
        url('context-menu-icons.woff') format('woff'),
        url('context-menu-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.footer {
    padding-top:10px;
    position:fixed;
    background-color: #e0e0e0;
    bottom:5px;
    width:100%;
}
