// Place all the styles related to the DraftHelper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.removePlayer, img.addPlayer, .otherTeamHeader {
    cursor:pointer;
}

.tooltiptext {
    display:none;
}

ul {
    margin-left:10px;
}
ul ul {
    margine-left:15px;
}

.showHelp {
    font-size:14px;
}

.qtip-title {
    font-size:16px;
    font-weight:bold;
}

.qtip {
    max-width: 550px !important;
    line-height:115%;
}

table {
    font-size:12px;
}


td.bad {
    background-color: #FFC2C5
}

td.badder {
    background-color: #FF5C64;
}

td.baddest {
    background-color: #FF1F2A;
}

td.good {
    background-color: #AFC8FD
}

td.gooder {
    background-color: #6091FB
}

td.goodest {
    background-color: #2468F9
}

/*
td.good {
    background-color: #86C8FD
}

td.gooder {
    background-color: #0E90FB
}

td.goodest {
    background-color: #0365B5
}

*/
div.teams {
    width:100%;
}

table.team {
    background:#eaebec;
    border:#ccc 1px solid;
    border-radius:3px;
    border-collapse:collapse; border-spacing: 0; 
    box-shadow: 0 1px 2px #d1d1d1;

    display: block;
    overflow: auto;
    // max-height: 220px;
    // min-height: 220px;
    width: 96%;
    margin: 0 auto;
    height: 71%;
}

table.team thead {
    z-index: 1; /* put on top of other rows */
    display: block;
    position: fixed;

    /* make sure this header width is same as table */
    max-width: 45%;
    overflow-y: auto; /* use auto so scrollbars only appear if they need to*/
    overflow-x: hidden;
    min-height: 25px;
    max-height: 25px;
}

table.team thead tr td {
    min-height: 25px;
    max-height: 25px;
}

thead.team tr td {
    background: #eaebec;
    width: 90px;
    min-width: 90px;
}
table.team tbody {
    display: block;
    padding-top: 20px;
}
table.team th {
    padding:2px 2px 2px 2px;
    border-top:0;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #ededed;
}

table.team tr {
    text-align: center;
}
/* only using !important to override your styles below */
table.team td {
    margin-left: 0 !important;
    width: 20px !important;
    padding:2px 2px 2px 2px;
    border-top:0;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

table.team tr.team  {
    width: 90px;
    min-width: 90px;
    height:30px;
}

div.teamTableContainer {
    float:left;
    width:100%;
    height:100%
}

div.team {
    display:inline-block;
    padding: 25px; 
    margin:10px auto; 
    overflow:auto; 
    padding:0 0; 
    width:49%;
    height: 100%;
    //width:auto; maybe should be auto
}



table.teamTotals {
    background:#eaebec;
    border:#ccc 1px solid;
    border-radius:3px;
    border-collapse:collapse; border-spacing: 0; 
    box-shadow: 0 1px 2px #d1d1d1;

    display: block;
    overflow: auto;
    overflow-x: hidden;
    // max-height: 40px;
    // min-height: 40px;
    width: 96%;
    margin: 0 auto;
}

table.teamTotals tbody {
    display: block;
    // padding-top: 40px;
}

table.teamTotals tr {
    text-align: center;
}

/* only using !important to override your styles below */
table.teamTotals td {
    margin-left: 0 !important;
    width: 20px !important;
    padding:2px 2px 2px 2px;
    border-top:0;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

table.teamTotals tbody tr td {
    width: 90px;
    min-width: 90px;
    height: 15px;
}



table.availablePlayers {
    background:#eaebec;
    border:#ccc 1px solid;
    border-radius:3px;
    border-collapse:collapse; border-spacing: 0; 
    box-shadow: 0 1px 2px #d1d1d1;

    display: block;
    overflow: auto;
    // max-height: 350px;
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

table.availablePlayers thead {
    z-index: 1; /* put on top of other rows */
    display: block;
    position: fixed;

    /* make sure this header width is same as table */
    max-width: 92%;
    overflow-y: auto; /* use auto so scrollbars only appear if they need to*/
    overflow-x: hidden;
    min-height: 35px;
    max-height: 35px;
}
thead.availablePlayers tr td {
    background: #eaebec;
    width: 90px;
    min-width: 90px;
}
table.availablePlayers tbody {
    display: block;
    padding-top: 35px;
}
table.availablePlayers th {
    padding:2px 2px 2px 2px;
    border-top:0;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #ededed;
}
table.availablePlayers tr {
    text-align: center;
}
/* only using !important to override your styles below */
table.availablePlayers td {
    margin-left: 0 !important;
    width: 20px !important;
    padding:2px 2px 2px 2px;
    border-top:0;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

table tr:hover td {
    background: #FCFEAE;
}
table.availablePlayers tr, table.availablePlayers td {
    width: 90px;
    min-width: 90px;
    height: 30px;
}

div.availablePlayersContainer {
    float:left;
    width:100%;
    height:73%
}

div#availablePlayers {
    padding: 25px; 
    margin:5px auto; 
    overflow:auto; 
    padding:0 0; 
    width:100%;
    // min-height: 350px;
    //width:auto; maybe should be auto
}

.loader {
    border: 5px solid #dadada; /* Light grey */
    border-top: 5px solid #2468F9; /* Blue */
    border-bottom: 5px solid #2468F9; /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
    display:inline-block; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* menu header via data attribute */
.data-title:before {
    content: attr(data-menutitle);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #DDD;
    padding: 2px;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.data-title :first-child {
    margin-top: 20px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.ui-resizable-s {
}
